
/* =====body===== */

$font-stack:    'ProximaNovaRegular', sans-serif;
$primary-color: #333333;

/* =====btn===== */

$btn-font-size: 20px;
$btn-color: #000;
$btn-width: 100%;
$btn-radius: 10px;
$btn-pd: 15px 0;
$btn-bgc: #ffba14;
$btn-bgc-h: #53f2f0;


/* =====title===== */

$title-font-size: 27px;
$title-color: #626262;

/* ======input======= */

$inputpadding: 10px;
$inputborder: none;
$inputradius: 2px;